html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

@font-face {
  src: url(../fonts/OpenSans-Regular.woff2),
  url(../fonts/OpenSans-Regular.woff),
  url(../fonts/OpenSans-Regular.ttf);

  font-family: "OpenSans Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/OpenSans-Bold.woff2),
  url(../fonts/OpenSans-Bold.woff),
  url(../fonts/OpenSans-Bold.ttf);
  
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  font-style: bold;
}

html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "OpenSans Regular", sans-serif;
  line-height: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup-toggle {
  display: none;
}
.popup-close-button {
  width: 18px;
  height: 18px;

  position: absolute;
  display: flex;
  left: calc(390px - 18px);
  bottom: 101%;

  cursor: pointer;
}
.popup-toggle:checked + .popup {
  display: none;
}
.popup {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}
.popup-content {
  width: 390px;
  background-color: #fff;

  padding: 50px 30px;
  box-sizing: border-box;

  position: absolute;

  z-index: 2;
}
.form-text {
  font-size: 13px;
  margin-bottom: 12px;
}
.form-visit, .form-email-subscr {
  margin-bottom: 35px;
}
.form-comment {
  margin-bottom: 27px;
}
.select-visit {
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: #f4f7f6;
  border: none;

  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;

  background-image: url(../svg/form-arrows.svg);
  background-size: 10px 16px;
  background-repeat: no-repeat;
  background-position: right 13px center;
}
.select-visit:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -2px;
}
.radio-option {
  display: inline-flex;
  gap: 6px;
  align-items: center;
}
.radio-option:not(:first-child) {
  margin-left: 16px;
}
.radio-button-text {
font-size: 13px;
}
.radio-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-flex;

  width: 10px;
  height: 10px;
  margin: 0px;
  box-sizing: border-box;
  border-radius: 50%;

  outline: 1px solid #b59f5b;
  outline-offset: 2px;
}
.radio-button:checked {
  background-color: #b59f5b;
}
.comment {
  font-family: "OpenSans Regular", sans-serif;
  font-size: 13px;

  width: 100%;
  min-height: 130px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f4f7f6;
  border: none;
  resize: none;

  color: rgba(0, 0, 0, 0.54);
}
.comment:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -2px;
}
.submit-button {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: none;

  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
.submit-button:hover {
  background-color: #323232;
}

.header {
  width: auto;
  min-height: 450px;

  background-image: url(../images/banner-bg.jpg);
  background-color: #002440;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;

  display: flex;
  flex-wrap: wrap;

  position: relative;
  z-index: 0;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.content {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding: 0px 15px 0px 15px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
}
.header-logo {
  width: 179px;
}

.hamburger-menu {
  display: flex;
  flex-direction: row-reverse;
}
#hamburger-menu-button {
  display: none;
}

.header-menu-list-item {
  display: inline-block;
  margin-left: 30px;
}
.header-menu-link {
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}
.header-menu-link:hover {
  text-decoration: underline;
}

.header-title {
  width: 750px;
  box-sizing: border-box;
  padding-top: 103px;
  padding-bottom: 127px;
  margin-left: auto;
  margin-right: auto;
}
.header-title-text {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
}

.main-title {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.trends-title {
  margin-top: 63px;
}
.main-title:after {
  content: "";
  width: 66px;
  margin: 9px auto 28px auto;
  border: 2px solid #e1d9bd;
  display: block;
}
.trends {
  display: flex;
  justify-content: space-between;
}
.trend-article {
  padding: 20px 15px;
  width: 25%;
  height: 320px;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}
.trend-article:not(:first-child) {
  margin-left: 4px;
}
.trend-article-content {
  width: 100%;
  padding: 36px 32px;
  border: solid #b59f5b  3px;
}
.trend-article-title-link {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
.trend-article-title-link:hover {
  color: #b59f5b;
}
.trend1 {
  background-image: url(../images/trend1.jpg);
  position: relative;
  z-index: 0;
}
.trend2 {
  background-image: url(../images/trend2.jpg);
  position: relative;
  z-index: 0;
}
.trend3 {
  background-image: url(../images/trend3.jpg);
  position: relative;
  z-index: 0;
}
.trend4 {
  background-image: url(../images/trend4.jpg);
  position: relative;
  z-index: 0;
}
.trend1:before, .trend2:before, .trend3:before, .trend4:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.main {
  width: 778px;
  margin: 62px auto 62px 0;
}

.article {
  min-height: 294px;
}
.article:nth-child(n + 2) {
  margin-top: 60px;
}
.article-img {
  width: 380px;
  height: 294px;

  margin-right: 30px;
  float: left;
}

.article-tag-list-item {
  display: inline-block;
  margin-bottom: 9px;
  margin-right: 12px;
}
.article-tag-link {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
}
.article-tag-link:hover {
  text-decoration: underline;
}

.article-title {
  margin-bottom: 30px;
  line-height: 1.2;
}
.article-title-link {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;
}
.article-title-link:hover {
  color: #b59f5b;
}
.meta {
  margin-bottom: 50px;
  font-size: 12px;
}
.article-datetime {
  color: #888888;
  font-size: 12px;
  margin-right: 14px;
}
.article-author {
  font-family: "OpenSans Bold", sans-serif;
  color: #000000;
  font-weight: 700;
}
.article-text > p {
  color: #0f0d0e;
  line-height: 1.3;
  font-size: 15px;
}
.article-text > p:not(:first-child) {
  margin-top: 16px;
}

.side-bar {
  width: 272px;
  margin: 64px 0 64px 0;
  box-sizing: border-box;
}

.new-posts-group {
  margin-bottom: 60px;
}
.side-bar-title {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #0f0d0e;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
.side-bar-title:after {
  content: "";
  width: 66px;
  margin: 9px auto 24px auto;

  border: 2px solid #e1d9bd;
  display: block;
}

.new-post {
  min-height: 70px;
}
.new-post:nth-child(n + 2) {
  margin-top: 23px;
}
.new-post-img {
  width: 71px;
  margin-right: 19px;
  float: left;
}
.new-post-datetime {
  display: inline-block;
  color: #888888;
  font-size: 12px;
  margin-bottom: 5.5px;
}
.new-post-title-link {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #0f0d0e;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}
.new-post-title-link:hover {
  color: #b59f5b;
}

.search-bar {
  margin-bottom: 60px;

  display: flex;
  justify-content: center;
}
.search-bar-input {
  width: 224px;
  height: 48px;
  box-sizing: border-box;
  padding: 0 20px;

  background-color: #f4f7f6;
  border: none;
}
.search-bar-input:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}
.search-bar-input::placeholder {
  color: #000000;
  opacity: 0.54;
  font-size: 13px;
}

.search-bar-button {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;

  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;
}
.search-bar-button:hover {
  background-color: #323232;
}

.mailing-form {
  margin-bottom: 62px;
}
.email-input {
  width: 272px;
  height: 48px;
  margin-bottom: 17px;
  box-sizing: border-box;
  padding: 0 20px;

  background-color: #f4f7f6;
  border: none;
}
.email-input:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -2px;
}
.email-input::placeholder {
  color: #000000;
  opacity: 0.54;
  font-size: 13px;
}

.tags {
  margin-bottom: 60px;
}
.side-bar-tag-list-item {
  display: inline-block;
  border: 3px solid #eeeeee;
  padding: 7px;
  margin-bottom: 6px;
}
.side-bar-tag-link {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #0f0d0e;
  font-size: 14px;
  text-transform: uppercase;
}
.side-bar-tag-link:hover {
  font-weight: 800;
}

.side-bar-topic-list {
  margin: 0;
  padding: 0;
}
.side-bar-topic-list-item {
  border-bottom: 1px solid #eeeeee;
  padding-top: 12px;
  padding-bottom: 13px;
}
.side-bar-topic-link {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
}
.side-bar-topic-link:hover {
  color: #b59f5b;
}
.side-bar-topic-amount {
  font-size: 12px;
  color: #b59f5b;
  vertical-align: 4px;
}

.shop {
  width: 100%;
  margin-bottom: 64px;
}
.shop-title {
  margin-bottom: 30px;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.product {
  width: 345px;
}
.product-img {
  z-index: -1;
  width: 300px;
  height: 204px;
  margin: auto;
}
.product-img1 {
  background-image: url(../images/shop-item-desk1.jpg);
}
.product-img2 {
  background-image: url(../images/shop-item-desk2.jpg);
}
.product-img3 {
  background-image: url(../images/shop-item-desk3.jpg);
}

.product-description {
  height: 260px;
  border: 3px solid #b59f5b;
  padding: 55px 20px 25px 20px;
  box-sizing: border-box;
  text-align: left;

  position: relative;
  top:-31px;
}
.product-title {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.product-text {
  color: #0f0d0e;
  line-height: 1.3;
  font-size: 15px;
}
.text-link {
  color: #b59f5b;
}
.text-link:hover {
  text-decoration: underline;
}
.product-footer {
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
.product-prices {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #0f0d0e;
  font-size: 20px;
  margin-bottom: 10px;
}
.old-price {
  font-size: 14px;
  text-decoration: line-through 1px;
  display: flex;
}
.price {
  display: flex;
}
.product-link {
  border: none;
  background-color: #b59f5b;
  padding: 17px 28px;
  cursor: pointer;

  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.product-link:hover {
  background-color: #323232;
}

.footer {
  width: 100%;
  height: 213px;
  box-sizing: border-box;
  padding-bottom: 41px;
}
.footer-socials {
  width: 100%;
  min-height: 83px;

  margin-bottom: 74px;
  background-color: #f4f7f6;

  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon-list-item {
  display: inline-block;
}
.social-icon-list-item:nth-child(n + 2) {
  margin-left: 23px;
}
.social-icon-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}
.social-icon-link-dribbble {
  background-image: url(../svg/001-dribbble.svg);
}
.social-icon-link-pinterest {
  background-image: url(../svg/002-pinterest.svg);
}
.social-icon-link-twitter {
  background-image: url(../svg/003-tumblr.svg);
}
.footer-copyright {
  display: flex;
  margin-left: auto;  
  margin-right: auto; 
  align-items: center;
}
.footer-copyright-text {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 700;
  color: #999999;
  font-size: 12px;
  text-decoration: none;
}