@media (max-width: 640px) {

	.content {
		padding: 0px 14px 0px 14px;
    width: 330px;
	}

.popup-close-button {
  width: 25px;
  height: 25px;
    left: calc(330px - 25px);
}
.popup-content {
	width: 330px;
  padding: 30px 27px;
 }
   .radio-button {
    width: 15px;
  height: 15px;
  }
  .radio-option:not(:first-child) {
  margin-left: 35px;
}

.header {
	background-image: url(../images/banner-mobile.jpg);
	min-height: 639px;
}
	.header-title {
  width: 360px;
  padding-top: 45px;

	padding-bottom: 220px;
}
.header-title-text {
	font-size: 26px;
}
.header-nav {
flex-direction: column-reverse;
  padding-top: 32px;
}
.header-logo {
  width: 269px;
  margin-top: 185px;
}

	.hamburger-menu {
  width: 23px;
  height: 19px;
  position: relative;
  cursor: pointer;
  right: -170px;
}
.hamburger-menu-icon {
  width: 23px;
  height: 3px;
  background-color: #fff;
  text-align: center;
  position: absolute;
}
.hamburger-menu-icon::before {
	content: '';
	display: flex;
	width: 23px;
  height: 3px;
  background-color: #fff;
  top: 8px;
  position: absolute;
}
.hamburger-menu-icon::after {
	content: '';
	display: flex;
	width: 23px;
  height: 3px;
  background-color: #fff;
  top: 16px;
  position: absolute;
}
.header-menu-list-item {
	display: none;
}

.side-bar {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

  .trends {
  flex-wrap: wrap;
  gap: 4px;
  }
  .trend-article {
	width: 100%;
	height: 230px;
  }
  .trend-article:not(:first-child) {
  margin-left: 0;
  }
  .trend-article-title-link {
  	font-size: 17px;
  }

  .main {
  	margin: 44px auto;
  }
  .main-title {
  	font-size: 16px;
  }

  .article {
    width: 330px;

    margin-right: auto;
    margin-left: auto;
  }
  .article:nth-child(n + 2) {
    margin-top: 35px;
  }
  .article {
  	border-bottom: solid #eeeeee 3px;
  }
  .article-img {
    width: 330px;
    min-height: 257px;

    margin-bottom: 17px;
  }
    .meta {
    margin-bottom: 17px;
  }
  .article-title {
    margin-bottom: 25px;
  }
  .article-title-link {
    font-size: 16px;
  }
  .article-text > p {
  	font-size: 14px;
    margin-bottom: 25px;
  }

.side-bar {
  width: 330px;
  margin-bottom: 44px;
}
  .side-bar-title {
  	font-size: 16px;
  }
  .search-bar-input {
  width: 280px;
}
.email-input {
  width: 330px;
}
.email-submit-button {
  width: 330px;
}

.product {
  width: 330px;
  margin-bottom: 28px;
}
  .product-img {
    width: 285px;
    height: 285px;
  }
  .product-img1 {
    background-image: url(../images/shop-item-mobile1.jpg);
  }
  .product-img2 {
    background-image: url(../images/shop-item-mobile2.jpg);
  }
  .product-img3 {
    background-image: url(../images/shop-item-mobile3.jpg);
  }

}